
bulltetpoint_mail_bulletpoint.jpg
*.mesh
*.frv
*.log
*.m21fm
*.dfs0
*.dfsu
*.mp4
raw_input/gsw_mikeio/utils.py
raw_input/gsw_mikeio/statistics.ipynb
raw_input/gsw_mikeio/pandas.ipynb
raw_input/gsw_mikeio/numpy.ipynb
raw_input/gsw_mikeio/netcdf.ipynb
raw_input/gsw_mikeio/mesh.ipynb
raw_input/gsw_mikeio/matplotlib.ipynb
raw_input/gsw_mikeio/intro.md
raw_input/gsw_mikeio/installation_mikeio.md
raw_input/gsw_mikeio/installation.md
raw_input/gsw_mikeio/generic.ipynb
raw_input/gsw_mikeio/final_assignment.ipynb
raw_input/gsw_mikeio/exercise_xarray.ipynb
raw_input/gsw_mikeio/exercise_mesh.ipynb
raw_input/gsw_mikeio/exercise_H_generic_dfs.ipynb
raw_input/gsw_mikeio/exercise_F_Dfs0.ipynb
raw_input/gsw_mikeio/exercise_E_pandas_timeseries.ipynb
raw_input/gsw_mikeio/exercise_dfsu.ipynb
raw_input/gsw_mikeio/exercise_D_pandas_basics.ipynb
raw_input/gsw_mikeio/exercise_C_matplotlib.ipynb
raw_input/gsw_mikeio/exercise_B_NumPy.ipynb
raw_input/gsw_mikeio/exercise_A_basic_python.ipynb
raw_input/gsw_mikeio/dfsu2d.ipynb
raw_input/gsw_mikeio/dfs2.ipynb
raw_input/gsw_mikeio/dfs1.ipynb
raw_input/gsw_mikeio/dfs0.ipynb
raw_input/gsw_mikeio/datetime_timedelta.ipynb
raw_input/gsw_mikeio/datastructures.md
raw_input/gsw_mikeio/basic.ipynb
notebooks/text/utils.txt
notebooks/text/statistics.txt
notebooks/text/pandas.txt
notebooks/text/numpy.txt
notebooks/text/netcdf.txt
notebooks/text/mesh.txt
notebooks/text/matplotlib.txt
notebooks/text/intro.txt
notebooks/text/installation_mikeio.txt
notebooks/text/installation.txt
notebooks/text/generic.txt
notebooks/text/final_assignment.txt
notebooks/text/exercise_xarray.txt
notebooks/text/exercise_mesh.txt
notebooks/text/exercise_H_generic_dfs.txt
notebooks/text/exercise_F_Dfs0.txt
notebooks/text/exercise_E_pandas_timeseries.txt
notebooks/text/exercise_dfsu.txt
notebooks/text/exercise_D_pandas_basics.txt
notebooks/text/exercise_C_matplotlib.txt
notebooks/text/exercise_B_NumPy.txt
notebooks/text/exercise_A_basic_python.txt
notebooks/text/dfsu2d.txt
notebooks/text/dfs2.txt
notebooks/text/dfs1.txt
notebooks/text/dfs0.txt
notebooks/text/datetime_timedelta.txt
notebooks/text/datastructures.txt
notebooks/text/basic.txt
